/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}
section {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
}
.about , .contact {
  background-color: aquamarine;
  padding: 50px;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

header h1 {
  display: inline-block;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background-color: #005f73;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}

/* About Section */
.about,
.projects,
.contact {
  padding: 4rem 0;
}

/* Projects */
.project-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #87cdd6;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1 1 45%;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

